<p-dialog
  [(visible)]="displayDialog"
  [header]="isEditing ? 'Edit Item' : 'Add New Item'"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '600px' }"
  styleClass="item-dialog"
  (onHide)="onCancel()"
>
  <div class="dialog-content">
    <div class="field">
      <label for="name">Name *</label>
      <input
        id="name"
        type="text"
        pInputText
        [(ngModel)]="itemForm.name"
        placeholder="Enter item name"
      />
    </div>

    <div class="field-group">
      <div class="field">
        <label for="type">Type</label>
        <select
          id="type"
          [(ngModel)]="itemForm.type"
          class="p-inputtext p-component"
        >
          <option *ngFor="let option of typeOptions" [value]="option.value">
            {{ option.label }}
          </option>
        </select>
      </div>

      <div class="field">
        <label for="rarity">Rarity</label>
        <select
          id="rarity"
          [(ngModel)]="itemForm.rarity"
          class="p-inputtext p-component"
        >
          <option *ngFor="let option of rarityOptions" [value]="option.value">
            {{ option.label }}
          </option>
        </select>
      </div>
    </div>

    <div class="field-group">
      <div class="field">
        <label for="value">Value *</label>
        <p-inputNumber
          id="value"
          [(ngModel)]="itemForm.value"
          [min]="0"
          placeholder="0"
        ></p-inputNumber>
      </div>

      <div class="field">
        <label for="souls">Souls *</label>
        <p-inputNumber
          id="souls"
          [(ngModel)]="itemForm.souls"
          [min]="0"
          placeholder="0"
        ></p-inputNumber>
      </div>
    </div>

    <div class="field">
      <div class="checkbox-field">
        <p-checkbox
          id="equipped"
          [(ngModel)]="itemForm.equipped"
          [binary]="true"
        ></p-checkbox>
        <label for="equipped">Currently Equipped</label>
      </div>
    </div>

    <div class="field">
      <label for="description">Description</label>
      <input
        id="description"
        type="text"
        pInputText
        [(ngModel)]="itemForm.description"
        placeholder="Enter item description"
      />
    </div>
  </div>

  <ng-template pTemplate="footer">
    <p-button
      label="Cancel"
      icon="pi pi-times"
      (onClick)="onCancel()"
      severity="danger"
    >
    </p-button>
    <p-button
      [label]="isEditing ? 'Update' : 'Save'"
      icon="pi pi-check"
      (onClick)="onSave()"
      severity="primary"
    >
    </p-button>
  </ng-template>
</p-dialog>
