<!-- app.component.html -->
<div class="lordran-container">
  <header class="header">
    <div class="header-content">
      <div class="header-left">
        <a href="/" class="logo-link">
          <h1 class="logo-title">Lordran Ledger</h1>
          </a>
      </div>

      <div class="header-right">
        <nav class="main-nav">
          <ul>
            <li><a href="#">Inventory</a></li>
            <li><a href="#">Spells</a></li>
            <li><a href="#">Quests</a></li>
            <li><a href="#" class="nav-icon" title="Profile"><i class="pi pi-user"></i></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <main class="main-content">
    <!-- É aqui que os componentes roteados (como InventoryPage) serão exibidos -->
    <router-outlet></router-outlet>
  </main>

  <!-- Componentes globais do PrimeNG para mensagens e confirmações -->
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>
</div>
