<!-- features/inventory/pages/inventory-page/inventory-page.component.html -->
<div class="toolbar">
  <div class="toolbar-content">
    <h2>Inventory</h2>
    <p>Manage your items, spells, and quests in Lordran.</p>
  </div>
  <p-button
    label="Add New Item"
    icon="pi pi-plus"
    (onClick)="openNewItemDialog()"
    class="add-button"
  >
  </p-button>
</div>

<div class="inventory-grid">
  <!-- Itera sobre os itens e exibe cada um usando o ItemCardComponent -->
  <app-item-card
    *ngFor="let item of (items$ | async)"
    [item]="item"
    (viewDetails)="openDetailDialog($event)"
    (editItem)="openEditDialog($event)"
    (deleteItem)="deleteItem($event)"
  ></app-item-card>
  <!-- Mensagem exibida se nenhum item for encontrado -->
  <div *ngIf="(items$ | async)?.length === 0" class="no-items-message">
    No items found in your inventory. Add some!
  </div>
</div>

<!-- Componente de Diálogo de Formulário de Item (para Adicionar/Editar) -->
<app-item-form-dialog
  [displayDialog]="displayFormDialog"
  [item]="currentItem"
  [isEditing]="isEditing"
  (save)="saveItem($event)"
  (dialogVisibleChange)="onFormDialogClose($event)"
></app-item-form-dialog>

<!-- Componente de Diálogo de Detalhes do Item -->
<app-item-detail-dialog
  [displayDetailDialog]="displayDetailDialog"
  [selectedItem]="selectedItem"
  (dialogVisibleChange)="onDetailDialogClose($event)"
></app-item-detail-dialog>
