<p-card [style]="{ width: '100%', overflow: 'hidden' }" styleClass="item-card">
  <ng-template pTemplate="header">
    <img
      [src]="
        item.imageUrl || 'https://via.placeholder.com/400x200?text=No Image'
      "
      alt="{{ item.name || 'Item Image' }}"
      class="card-image"
    />
  </ng-template>

  <ng-template pTemplate="title" style="font-family: 'MedievalSharp'">
    {{ item.name }}
  </ng-template>

  <ng-template class="title-text" pTemplate="subtitle">
    {{ item.type | titlecase }} • {{ item.rarity | titlecase }}
    <span *ngIf="item.equipped" style="color: green; margin-left: 5px">
      (Equipped)</span
    >
  </ng-template>

  <ng-template pTemplate="content">
    <p class="card-description">
      {{ item.description }}
    </p>
    <div class="flex flex-column gap-2 mt-1">
      <div class="flex align-items-center justify-content-between">
        <span
          >Value:
          <strong>{{
            item.value | currency : "USD" : "symbol" : "1.2-2"
          }}</strong></span
        >
        <span
          >Souls: <strong>{{ item.souls }}</strong></span
        >
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="btn-container">
      <p-button
        icon="pi pi-eye"
        label="View"
        severity="secondary"
        [outlined]="true"
        class="card-button"
        (onClick)="viewDetails.emit(item)"
      >
      </p-button>
      <p-button
        icon="pi pi-pencil"
        label="Edit"
        severity="success"
        class="card-button"
        (onClick)="editItem.emit(item)"
      ></p-button>
      <p-button
        icon="pi pi-trash"
        label="Delete"
        severity="danger"
        class="card-button"
        (onClick)="deleteItem.emit(item)"
      ></p-button>
    </div>
  </ng-template>
</p-card>
