<p-dialog
  [(visible)]="displayDialog"
  [header]="isEditing ? 'Edit Item' : 'Add New Item'"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '600px' }"
  styleClass="item-dialog"
  (onHide)="onCancel()"
>
  <div class="dialog-content">
    <div class="field">
      <label for="name">Name *</label>
      <input
        id="name"
        type="text"
        pInputText
        [(ngModel)]="itemForm.name"
        placeholder="Enter item name"
        > </div>

    <div class="field-group">
      <div class="field">
        <label for="type">Type</label>
        <p-dropdown
          id="type"
          [(ngModel)]="itemForm.type"
          [options]="typeOptions"
          placeholder="Select type"
          > </p-dropdown>
      </div>

      <div class="field">
        <label for="rarity">Rarity</label>
        <p-dropdown
          id="rarity"
          [(ngModel)]="itemForm.rarity"
          [options]="rarityOptions"
          placeholder="Select rarity"
          > </p-dropdown>
      </div>
    </div>

    <div class="field-group">
      <div class="field">
        <label for="value">Value *</label>
        <p-inputNumber
          id="value"
          [(ngModel)]="itemForm.value"
          [min]="0"
          placeholder="0"
          > </p-inputNumber>
      </div>

      <div class="field">
        <label for="souls">Souls *</label>
        <p-inputNumber
          id="souls"
          [(ngModel)]="itemForm.souls"
          [min]="0"
          placeholder="0"
          > </p-inputNumber>
      </div>
    </div>

    <div class="field">
      <div class="checkbox-field">
        <p-checkbox
          id="equipped"
          [(ngModel)]="itemForm.equipped"
          [binary]="true"
        >
        </p-checkbox>
        <label for="equipped">Currently Equipped</label>
      </div>
    </div>

    <div class="field">
      <label for="description">Description</label>
      <textarea
        id="description"
        pInputTextarea
        [(ngModel)]="itemForm.description"
        rows="3"
        placeholder="Enter item description"
        > </textarea>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <p-button
      label="Cancel"
      icon="pi pi-times"
      (onClick)="onCancel()"
      severity="secondary"
    >
    </p-button>
    <p-button
      [label]="isEditing ? 'Update' : 'Save'"
      icon="pi pi-check"
      (onClick)="onSave()"
      severity="primary"
    >
    </p-button>
  </ng-template>
</p-dialog>