header {
  font-family: 'MedievalSharp';
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid #ccc;
}

nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}